:root{
    --fdark: #333;
    --flight: #fff;
    --radius: 5px;
    --mz-font-family:
        /* Safari for OS X and iOS (San Francisco) */
        -apple-system,
        /* Chrome < 56 for OS X (San Francisco) */
        BlinkMacSystemFont,
        /* Windows */
        'Segoe UI',
        /* Android */
        'Roboto',
        /* Basic web fallback */
        'Helvetica Neue', Arial, sans-serif;
}
body {
    background-color: var(--body);
    font-family: var(--mz-font-family);
    font-size: 12px;
}
@media (max-width: 976px) {
	body {
		font: 12px;
	}
}
.navbar-nav .nav-link {
    font-size: 11px;
}
.navbar-brand {
    font-size: 14px;
    font-weight: 700;
    height: 0;
}
.navbar-nav .nav-link {
    font-size: 11px;
    height: auto;
    padding: 23px 10px;
}
.normal{
    background-color: inherit;
    color: #424242;
}
a.normal{
    background-color: inherit;
    color: inherit;
}
a.normal:hover, a.normal:focus{
    background-color: inherit;
    color: inherit;
    opacity: .6;
    text-decoration: none;
    transition: .40s;
}
.server-status-icon {
    transition: 1.50s;
}
.tox-tinymce {
    border: 1px solid #94949421 !important;
    border-radius: 6px !important;
    background-color: transparent !important;
}
.bheader {
    margin-bottom: 25px;
    padding: 60px 0px 80px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    box-shadow: none;
    margin-bottom: 25px;
    background-image: url(/Nms/custom/templates/Mooz/img/Banner.png);
    position: sticky;
    height: 347px;
    width: 100%;
        
}
.encima:hover {
    background-color: rgba(67, 67, 67, 0.25);
}
.encima {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    transition: .40s
}
.profile-banner {
    border-radius: 15px;
    height: 225px;
    padding: 25px 5px;
}
.profile-banner .img-thumbnail {
    width: 100px;
    border-radius: 50%;
    height: 100px;
}
#navbar.sticky {
    position: fixed;
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    width: 100%;
    z-index: 999;
    background: #000000;
    text-align: left;
    padding-left: 20px;
}
/*
 *  -[ FOOTER ]-
 */
.footer {
    font-size: 12px;
    background: rgb(12, 12, 12);
    border-top: solid 3px var(--color1);
    padding: 25px 0px 0px 0px;
    position: absolute;
    width: 100%;
    margin-top: auto;
}
footer .row {
    margin: 0
}
footer .col {
    margin-bottom: 5px
}
footer .row .col-12 {
    background-color: rgba(43, 43, 43, 0.15);
    padding: 12px 0px;
}
.footer h1 {
    margin-top: 0px;
    color: #d2d2d2;
    margin-bottom: 18px;
    font-size: 13pt;
    font-weight: 600;
}
.footer p{
    margin: 0px;
    line-height: 25px;
    color: #888;
}

.transparente {
    background-image: none !important;
}
#toast-container {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	width: 100%;
}

#toast-container .toast-close-button {
	color: #000;
	opacity: .4;
}
.emojionearea, .emojionearea.form-control {
    border-radius: 10px
}
#toast-container .toast-close-button:hover,
#toast-container .toast-close-button:focus {
	color: #000;
	opacity: .6;
}

#toast-container .toast {
	padding: 1rem 1.5rem;
	background: #fff;
	color: rgba(0,0,0,.68);
	-webkit-box-shadow: 0 1px 3px 0 #bababb, 0 0 1px 1px #bababb;
	box-shadow: 0 1px 3px 0 #bababb, 0 0 1px 1px #bababb;
	border: none;
	border-radius: 6px;
	cursor: default;
	opacity: 1;
	transition: .5s all ease;
}

#toast-container .toast-success {
	border-bottom: solid 2px var(--success);
}

#toast-container .toast-success .toast-progress {
	background: var(--success);
}

#toast-container .toast-error {
	border-bottom: solid 2px var(--danger);
}

#toast-container .toast-error .toast-progress {
	background: var(--danger);
}

#toast-container .toast-warning {
	border-bottom: solid 2px var(--warning);
}

#toast-container .toast-warning .toast-progress {
	background: var(--warning);
}

#toast-container .toast-info {
	border-bottom: solid 2px var(--info);
}

#toast-container .toast-info .toast-progress {
	background: var(--info);
}

#toast-container .toast:hover {
	-webkit-box-shadow: 0 1px 3px 0 #bababb, 0 0 1px 1px #bababb;
	box-shadow: 0 1px 3px 0 #bababb, 0 0 1px 1px #bababb;
	cursor: default;
}

@media (max-width: 576px) {
	#toast-container .toast {
		width: calc(100% - 24px);
	}
}

/*
 *  [ SPOILER ]
 */

#tinymce .spoiler, .spoiler {
	color: rgba(0,0,0,.87);
	border-radius: .28571429rem;
	-webkit-box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
	box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
	border: none;
}

#tinymce .spoiler-toggle, .spoiler-toggle {
	color: rgba(0,0,0,.87);
}

#tinymce .spoiler-text, .spoiler-text {
	color: rgba(0,0,0,.87);
}
::selection {
    background: #daf1ff;
    color: #121212;
}
.carousel-inner img {
    height: 230px;
    border-radius: 6px;
    box-sizing: content-box;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    margin-bottom: 25px;
}

@media (min-width: 992px) {
    .carousel-item {
        
    }
    .carousel-inner img {
        height: 250px;
        margin-bottom: 25px;
    }
    .carousel-inner {
        padding: 0px 20px;
    }
}
#block-img img {
    display: none;
}
.tox.tox-tinymce.tox-platform-touch {
    height: 130px !important;
}
.userbar {
    display: inline-flex;
    font-size: 12px;
    flex: auto;
    width: 100%;
    border-bottom: solid 2px rgba(9, 9, 9, 0.05);
    list-style: none;
    color: rgba(6, 6, 6, 0.5);
}
.userbar .nav-item {
    cursor: pointer;
}

.dropdown-menu.show::before{
    border-radius: 12px;
}
@media (max-width: 768px) {
    .footer-container {
        text-align: -webkit-center;
        margin-bottom: 35px;
    }
}
.negro,
.negro * {
 background-color: #222;
 color: #e6e6e6;
 border-color: #e6e6e6;
}

.switch {
 align-self: flex-end;
 margin: 0.9375rem;
}
.inner-switch {
 display: inline-block;
 cursor: pointer;
 border: 1px solid #555;
 border-radius: 1.25rem;
 width: 3.125rem;
 text-align: center;
 font-size: 1rem;
 padding: 0.1875rem;
 margin-left: 0.3125rem;
}

::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 55px;
}
::-webkit-scrollbar-thumb:hover {
    background: #cecece5e;
    border-radius: 55px;
}
.texto-grande {
    font-size: 100px;
}
.wrapper-img::before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    transform: translate(21px, 20px);
    z-index: 999999999999;
    color: #8BC34A;
    font-size: 10px;
}
.wrapper-img {
    border-radius: 50%;
    height: 32px;
}
.wrapper-img img {
    display: block;
    width: 100%;
    height: 100%;
}
foreignObject {
    border-radius: 50%;
}
foreignObject img {
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
}
figure {
   position: relative;
}
figure img {
   top: 0;
   left: 0;
   position: absolute;
   max-height: 100%;
}
figure:before {
   padding-top: 69.25%; // ( 554 / 800 ) * 100%
}
.valeehhta {
    position: absolute;
    transform: translate(0px, 1px);
    right: 10px;
}

.ms-avatar {
    width: 35px;
    height: 35px;
    background-color: #e1e1e1;
    position: relative;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
  .ms-avatar img, .ms-avatar .ms-avatar-img {
    display: block;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .ms-avatar .ms-text {
    font-size: 1.2rem;
    line-height: 55px;
    font-weight: bold; }
  .ms-avatar.ms-small {
    width: 35px;
    height: 35px; }
    .ms-avatar.ms-small .ms-text {
      font-size: 0.8rem;
      line-height: 35px; }
  .ms-avatar.ms-medium {
    width: 75px;
    height: 75px; }
    .ms-avatar.ms-medium .ms-text {
      font-size: 2rem;
      line-height: 75px; }
    .ms-avatar.ms-medium .ms-status {
      width: 15px;
      height: 15px;
      right: 4px;
      bottom: 4px; }
  .ms-avatar.ms-large {
    width: 95px;
    height: 95px; }
    .ms-avatar.ms-large .ms-text {
      font-size: 3rem;
      line-height: 95px; }
    .ms-avatar.ms-large .ms-status {
      width: 20px;
      height: 20px;
      right: 2px;
      bottom: 2px; }
  .ms-avatar .ms-status {
    width: 13px;
    height: 13px;
    position: absolute;
    right: 0px;
    top: 23px;
    background-color: #e1e1e1;
    border: 2px solid #fff;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .ms-avatar .ms-status.ms-info {
      background-color: #219ced; }
    .ms-avatar .ms-status.ms-success {
      background-color: #3ab656; }
    .ms-avatar .ms-status.ms-error {
      background-color: #e04540; }
    .ms-avatar .ms-status.ms-warning {
      background-color: #f9bf10; }
  .ms-avatar.ms-shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px; }



.popover-body .ms-status {
    bottom: 0px;
    top: 74px;
    left: 68px;
    display: none;
}
.context-menu {
    position: absolute;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px #ccc;
}